:root {
    font-family: sans-serif;
    background-color: #333333;
    color: white;
}
html {
    font-size: calc(1em+1vw);
}

body {
    height: 100%;
    font-size: 3em;
    text-align: center;
}

div {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

span {
    font-family: monospace;
}