:root {
    font-family: sans-serif;
    background-color: #333333;
    color: white;
}

body {
    height: 100%;
    font-size: 40pt;
    text-align: center;
}
h1 {
    font-size: 40pt;
}

div {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

span {
    font-family: monospace;
    font-size: 72pt;
}